.container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    border-radius: 400px;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    -ms-border-radius: 400px;
    -o-border-radius: 400px;
}

body {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.logo img {
    width: 5vw;
}

.logo img:hover {
    transition: all 0.5s;
    color: aqua;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.navbar {
    border-radius: 5vw;
    -webkit-border-radius: 5vw;
    -moz-border-radius: 5vw;
    -ms-border-radius: 5vw;
    -o-border-radius: 5vw;
}

.navbar ul li {
    float: left;
    list-style: none;
}

.headnav {
    padding-top: 0.5vw;
}

.navbar ul li a {
    padding: 0.7vw;

    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: azure;
    font-size: x-large;
    font: bolder;
    font-weight: bolder;
}

.navbar ul li a:hover {
    color: #06098d;
    transition: 0.9s;
}

.back {
    display: flex;
    justify-content: flex-end;
}

.back img {
    width: 90%;
}

.texx {
    align-items: center;
    margin-top: 10vw;
}

.back h1 {
    color: aliceblue;
    font-size: 7vw;
    margin-left: 2vw;
    font-family: "Montserrat", sans-serif;
}

.back h1 span {
    color: #2907e9;
}

.sidebar {
    padding-top: 15vw;
    display: grid;
    padding: 0%;
    border: 1px solid #f9f9fa;
    margin-top: 16%;
    margin-bottom: 20%;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-auto-flow: row;
}

.sidebar li {
    margin: 0;
    padding: 10px;
    grid-gap: 60vw;
}

.sidebar a {
    color: #f3f3f8;
}

.sidebar i {
    font-size: 40px;
}
.sidebar i:hover {
    transition:all 4s;
    -webkit-transition:all 4s;
    -moz-transition:all 4s;
    -ms-transition:all 4s;
    -o-transition:all 4s;
}

@media screen and (min-width: 600px) {

    .back img,
    .back h1,
    .back h1 span footer {
        max-width: 70%;
    }
}

@media screen and (min-width: 900px) {

    .back img,
    .back h1,
    .back h1 span html {
        max-width: 50%;
    }
}